@font-face {
    font-family: Norse-Bold;
    src: url(./Norse-Bold.otf);
}

:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
}

.page {
    display: flex;
}

.sidebar {
    background-image: url(./tree-halie-west.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 40vw;
    height: 100vh;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 25vh;
}

.logo img {
    height: 15vh;
}

.logo h1 {
    font-family: Norse-Bold;
    font-size: 10vh;
}

.author {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    position: relative;
    top: 73vh;
}

.author a {
    color: white;
}

.form-side {
    background-color: #f9fafb;
    width: 60vw;
    height: 100vh;
}

.intro {
    font-weight: bold;
    font-size: 24px;
    margin: 2rem;
    margin-top: 10vh;
    max-width: 40vw;
}

.separate-p {
    margin-top: 1rem;
}

p {
    margin: 0px;
}

.form-main {
    background-color: white;
    box-shadow: 5px 5px 5px #dcddde;
    font-weight: bold;
    font-size: 24px;
    width: 100%;
    padding: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2vh;
}

.form-row {
    display: flex;
    gap: 5vw;
}

.input {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 10px;
    font-weight: 400;
    color: #3b4450;
}

input {
    width: 15vw;
    border-radius: 3px;
    border: 1px solid #E5E7EB;
}

input:focus {
    outline: none;
    border-color: #3964dc;
}

.error {
    border: 1px solid red;
}

.account {
    padding: 2rem;
}

.account p {
    margin-top: 2rem;
}

.account p a {
    color: #596d48;
    font-weight: bold;
    text-decoration: none;
}

button {
    background-color: #596d48;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 1px solid #dcddde;
}